* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    overflow: hidden;
    font-family: roboto;
}

header {
    overflow: hidden;
    position: relative;
    height: 100vh;
    background-image: url("img/bg.jpg");
    background-size: cover;
}

header::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
}

header .logo {
    display: block;
    width: 60px;
    position: absolute;
    top: 15px;
    left: 15px;
}

header .content {
    font-family: Roboto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

header .content h1 {
    font-size: 70px;
}

header .content p {
    font-size: 25px;
}

header .content img {
    margin-top: 20px;
}

header a.visit {
    border: 3px solid #F1C40F;
    padding: 10px;
    font-size: 25px;
    font-family: roboto;
    position: absolute;
    bottom: 10%;
    right: 5%;
    text-decoration: none;
    color: #F1C40F;
    animation: pulse 1s infinite alternate;
}

header a.visit:hover {
    animation: none;
}

.yellow {
    color: #F1C40F;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.1);
    }
}

header .hamburger {
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 40px;
}

header .hamburger span {
    transition: 0.4s;
    display: block;
    width: 40px;
    height: 5px;
    background-color: #F1C40F;
    margin: 5px 0;
}

header .hamburger span.active:nth-of-type(2) {
    opacity: 0;
}

header .hamburger span.active:nth-of-type(1) {
    transform: rotate(-45deg) translate(-6px, 6px);
}

header .hamburger span.active:nth-of-type(3) {
    transform: rotate(45deg) translate(-8px, -8px);
}

header .login .log_item img {
    display: block;
    width: 20px;
    position: absolute;
    top: 50%;
    right: 60%;
    transform: translateY(-50%);
}

header .login .log_item {
    cursor: pointer;
    height: 60px;
    width: 70px;
    border-radius: 50%;
    background-color: white;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: -40px;
    transition: 0.2s;
}

header .login .log_item.show {
    background-color: #F1C40F;
}

header .login .log_item:hover {
    background-color: #F1C40F;
}

header .login form.logowanie input:focus {
    outline: 0;
}

header .login form.logowanie label {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1.4px solid #444;
}

header .login form.logowanie label img {
    width: 15px;
}

header .login form.logowanie input {
    padding: 5px;
    padding-bottom: 0;
    display: block;
    font-family: roboto;
    border: 0;
}

header .login form.logowanie input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

header .login form.logowanie input[type="submit"] {
    cursor: pointer;
    margin: 20px 0 5px 0;
    padding: 10px 20px;
    background-color: #F1C40F;
    color: black;
}

header .login form.logowanie {
    transition: 1s;
    padding: 20px;
    padding-right: 10px;
    position: absolute;
    top: 15%;
    right: -100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header .login form.logowanie a {
    font-family: roboto;
    color: black;
    font-size: 10px;
    text-decoration: none;
}

header .login form.logowanie.show {
    right: 0%;
}

main .services .service {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main .services .service div div {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .services .service div {
    text-align: center;
    font-family: roboto;
}

main .services .service div div img {
    display: block;
    height: 60px;
}

main .services .service div div p {
    font-size: 20px;

}

main .team {
    font-family: roboto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

main h2 {
    font-family: roboto;
    text-align: center;
    margin: 10px 0;
    font-size: 35px;
}

main .team p {
    margin-bottom: 22px;
}

main .team p span {
    font-weight: bold;
}

main .team .teammates {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main .team .teammates img {
    display: block;
}

main .team .teammates div p.title {
    font-weight: bold;
    font-size: 23px;
    display: block;
    margin: 15px 0 3px 0;
}

main .appointment .content {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .appointment .content .apoint {
    border: 1px solid #F1C40F;
    width: 60%;
    position: relative;
    background-color: rgba(238, 238, 238, 0.486);
}

main .appointment .content .apoint form {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

main .appointment .content .apoint .left {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    width: 40%;
}

main .appointment .content .apoint .left label {
    align-self: center;
    font-size: 20px;
}

main .appointment .content .apoint .left select {
    width: 75px;
    font-size: 20px;
    margin-bottom: 20px;
    border: 1px solid #F1C40F;
}

main .appointment .content .apoint .left input {
    border: 1px solid #F1C40F;
    display: block;
    font-size: 20px;
    padding: 6px;
    margin: 20px 0;
}

main .appointment .content .apoint .services {
    width: 100%;
    font-family: roboto;
}

main .appointment .content .apoint .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

main .appointment .content .apoint .right input[type="submit"] {
    position: absolute;
    cursor: pointer;
    bottom: 10px;
    font-family: roboto;
    font-weight: bold;
    padding: 10px 20px;
    background-color: white;
    border: 2px solid #F1C40F;
}

main .appointment .content .apoint .left .calendar {
    position: relative;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #F1C40F;
    height: 300px;
    background-color: white;
    margin-bottom: 20px;
    font-size: 18px;
}

main .appointment .content .apoint .left .calendar .mounth {
    margin: 5px 0;
    font-weight: bold;
}

main .appointment .content .apoint .left .calendar .date {
    margin-bottom: 7px;
}

main .appointment .content .apoint .left .calendar div.days {
    cursor: pointer;
}

.prev-date,
.next-date {
    color: #aaa;
}

.today {
    background-color: #F1C40F;
    border-radius: 10px;
}

.control {
    width: 100%;
    position: absolute;
}

.control img {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 10px;
    width: 30px;
    height: 30px;
}

.control img:first-of-type {
    left: 0;
}

.control img:last-of-type {
    right: 8px;
}

.select {
    border-radius: 10px;
    background-color: greenyellow;
}

main .appointment .content .apoint .left .calendar .days_name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5px;
}

main .appointment .content .apoint .left .calendar .days_name div {
    width: 14%;
}

main .appointment .content .apoint .left .calendar .days {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .appointment .content .apoint .left .calendar .days div {
    margin: 6px 0;
    width: 14%;
}

main .appointment .content .apoint .services div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F1C40F;
    padding: 10px;
    background-color: white;
    padding-bottom: 15px;
    margin: 10px 20px 10px 0;
}

main .appointment .content .apoint .services div input {
    margin-right: 20px;
    filter: grayscale(1);
    height: 20px;
    width: 20px;
}

footer {
    background-color: black;
    font-family: roboto;
}

footer h3 {
    padding-top: 10px;
    color: #F1C40F;
    font-size: 35px;
    text-align: center;
}

footer .contact {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

footer .contact div {
    padding-top: 10px;
    width: 20%;
}

footer .contact div p:first-of-type {
    margin-bottom: 6px;
    color: #F1C40F;
    font-size: 25px;
    text-align: center;
}

footer .contact div p {
    text-align: center;
    color: white;
}

footer p.copy {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    color: white;
    padding-bottom: 10px;
}

.wrong {
    color: red;
    border-color: red !important;
}

.apoint p.wrong {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.positive {
    color: green;
}