.wrapper {
    height: 100vh;
}

header .login form.logowanie {
    transition: 1s;
    padding: 20px;
    padding-right: 10px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
}

header .login form.logowanie input {
    font-size: 35px;
}

header .login form.logowanie label img {
    margin-right: 10px;
    width: 26px;
}

header .login form.logowanie {
    overflow: hidden;
}

header .login form.logowanie label:last-of-type {
    text-align: left;
    margin-top: 8px;
    border: 0;
    font-size: 21px;
}

header .login form.logowanie label:nth-of-type(4) {
    transform: translateX(103%);
    height: 0;
    transition: 0.4s;
}

header .login form.logowanie label:nth-of-type(4).show {
    height: 100%;
    transform: translateX(0%);
}

nav {
    top: 0;
}

header .appoints {
    text-align: center;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


header .appoints table tr:first-of-type th {
    border-bottom: 1px solid black;
}

header .appoints table td,
header .appoints table th {
    font-size: 22px;
    padding: 10px;
}

header .appoints table input[type='submit'] {
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    background-color: white;
    border-color: #F1C40F;
    border-style: solid;
    color: black;
    cursor: pointer;
    transition: 0.5s;
    font-family: roboto;
}

header .appoints table input[type='submit']:hover {
    background-color: #F1C40F;
    border-color: white;
    color: black;
}