.wrapper {
    height: 100vh;
}



header .login form.logowanie.usluga {
    position: static;
    transform: none;
}

header .login form.logowanie input,
header .login form.logowanie select,
header .login form.logowanie textarea {
    font-size: 25px;
    border: none;
    resize: none;
}

header .login form.logowanie textarea {
    height: 200px;
    width: 30vw;
    padding: 5px;
    margin-left: 20px;
    font-family: roboto;
    font-size: 20px;
}

header .login form.logowanie textarea:focus {
    outline: 0;
}

header .login form.logowanie select option {
    color: black;
}

header .login form.logowanie label {
    width: 100%;
    justify-content: flex-start;
}

header .login form.logowanie label img {
    margin-right: 10px;
    width: 26px;
}

header .login form.logowanie {
    overflow: hidden;
}

header .login form.logowanie label:last-of-type {
    text-align: left;
    margin-top: 8px;
    border: 0;
    font-size: 21px;
}

header .login form.logowanie label:nth-of-type(4) {
    transform: translateX(103%);
    height: 0;
    transition: 0.4s;
}

header .login form.logowanie label:nth-of-type(4).show {
    height: 100%;
    transform: translateX(0%);
}

nav {
    top: 0;
}

header .appoints {
    text-align: center;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    overflow-y: scroll;
}
header .login .appoints{
    overflow-y: hidden;
}

div.table {
    height: 300px;
    overflow-y: scroll;
}

header .appoints table tr:first-of-type th {
    border-bottom: 1px solid black;
}

header .appoints table td,
header .appoints table th {
    font-size: 22px;
    padding: 10px;
}

header .appoints table input[type='submit'] {
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    background-color: white;
    border-color: #F1C40F;
    border-style: solid;
    color: black;
    cursor: pointer;
    transition: 0.5s;
    font-family: roboto;
}

header .appoints table input[type='submit']:hover {
    background-color: #F1C40F;
    border-color: white;
    color: black;
}